<div class="col-md-offset-1 col-md-4">
    <form class="form-horizontal ">
      <div>
        <div class="example-container">
          <mat-form-field >
            <mat-label>Outline form field</mat-label>
            <input matInput type="text" class="form-control" id="studentId" placeholder="Student id" disabled value={{student.id}}>
          </mat-form-field>
        </div>
      </div>

      <div class="example-container">
          <mat-form-field >
            <input matInput type="text" class="form-control" id="studentName" placeholder="Name" disabled value={{student.name}}>
          </mat-form-field>
        </div>
  
      <div class="example-container">
        <mat-form-field >
          <input matInput type="text" class="form-control" id="studentName" placeholder="SurName" disabled value={{student.surname}}>
        </mat-form-field>
      </div>
  
      <div class="example-container">
          <mat-form-field >
              <input matInput type="text" class="form-control" id="penAmount" placeholder="pen amount" disabled value={{student.penAmount}}>
            </mat-form-field>
      </div>
  
      <div class="example-container">
        <div>
            <img _ngcontent-vcj-c11 mat-cell [src]="student.image" [title]="student.name">
        </div>
      </div>
  
      <div class="example-container">
        <mat-form-field >
          <textarea matInput class="form-control" id="studentDescription" placeholder="Description" row="3"></textarea>
        </mat-form-field>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" color="primary" class="mat-raised-button">Add</button>
        </div>
      </div>
    </form>
  </div>