.button-amount {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 2px;
}

.input-amount {
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	margin-left: 2px;
	margin-right: 2px;
	width: 60px;
	text-align: center;
}

.example-container {
	display: flex;
	flex-direction: column;
}

.example-container>* {
	width: 310%;
}

.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.full-width[_ngcontent-vcj-c18] {
    width: 100%;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.center-button[_ngcontent-vcj-c18] {
    text-align: center;
    padding-left: .5em;
    min-width: 0.5rem;
    max-width: 0.5rem;
}

.center-text[_ngcontent-vcj-c18] {
    text-align: center;
}

button:not([class*=mat-elevation-z]) {
	background-color: #673ab7;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}