<div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
    <div>
      <div class="example-container">
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput type="text" class="form-control" id="studentId" placeholder="Student id">
        </mat-form-field>
      </div>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <input matInput type="text" class="form-control" id="studentName" placeholder="Name">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <input matInput type="text" class="form-control" id="studentName" placeholder="SurName">
      </mat-form-field>
    </div>

    <div class="example-container">
      <span class="ng-tns-c9-17 ng-star-inserted">Pen Amount:</span>
      <div class="col-sm-10 form-inline">
        <button type="button" class="center-button" (click)="downQuantity(student)">-
        </button>
        <input type="text" class="col-md-1 form-control input-amount" value="0">
        <button type="button" class="center-button" (click)="upQuantity(student)">+
        </button>
      </div>
    </div>

    <div class="example-container">
      <label>File input: </label>
      <div>
        <input type="file" class="btn btn-default" id="exampleInputFile">
      </div>
      <p>Leave here for the file preview later.</p>
    </div>

    <div class="example-container">
      <mat-form-field appearance="outline">
        <textarea matInput class="form-control" id="studentDescription" placeholder="Description" row="3"></textarea>
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" color="primary" class="mat-raised-button">Add</button>
      </div>
    </div>
  </form>
</div>